<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="false" strict="false" explicit="true" targetFramework="4.0" />
    
    </system.web>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear/>
                <add value="index.aspx" />
                <add value="index.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="home.aspx" />
                <add value="home.asp" />
                <add value="home.htm" />
                <add value="home.html" />
                <add value="default.aspx" />
                <add value="default.asp" />
                <add value="default.htm" />
                <add value="default.html" />
            </files>
        </defaultDocument>
        <security>
            <authentication>
                <basicAuthentication enabled="true" />
            </authentication>
        </security>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="webmaster@timarvi.com">
                <network defaultCredentials="false" host="smtp.1and1.com" password="12345678" userName="webmaster@timarvi.com" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
